.row
  .large-12.columns
    ul.small-block-grid-1.large-block-grid-3
      li
        a(href="/ja/modules/accelerometer")
          span.moduleLink=moduleList['accelerometer']
      li
        a(href="/ja/modules/ambient")
          span.moduleLink=moduleList['ambient']
            | &nbsp;<small>明るさ＋音</small>
      li
        a(href="/ja/modules/audio")
          span.moduleLink=moduleList['audio']
      li
        a(href="/ja/modules/ble")
          span.moduleLink=moduleList['ble']
            |&nbsp;<small>Bluetooth Low Energy</small>
      li
        a(href="/ja/modules/camera")
          span.moduleLink=moduleList['camera']
      li
        a(href="/ja/modules/climate")
          span.moduleLink=moduleList['climate']
      li
        a(href="/ja/modules/gprs")
          span.moduleLink=moduleList['gprs']
      li
        a(href="/ja/modules/gps")
          span.moduleLink=moduleList['gps']
      li
        a(href="/ja/modules/ir")
          span.moduleLink=moduleList['ir']
      li
        a(href="/ja/modules/microsd")
          span.moduleLink=moduleList['microsd']
      li
        a(href="/ja/modules/nrf")
          span.moduleLink=moduleList['nrf']
      li
        a(href="/ja/modules/relay")
          span.moduleLink=moduleList['relay']
      li
        a(href="/ja/modules/rfid")
          span.moduleLink=moduleList['rfid']
      li
        a(href="/ja/modules/servo")
          span.moduleLink=moduleList['servo']
