extends ja-layout

block content
  .row
    .large-12.columns.fre-container
      // mixin for the modular formatting of each module's FRE
      mixin modulemodule(val, link)
        - var imgsrc = s3url +'modules/' + val + '.png'
        .row
          .large-12.columns.fre-container
            span
              img(src=imgsrc, style="margin-top:-20px;").constrain-sm
            span(style="padding-left:10px;")
              h2.leftalign.moduleTitle #{title}
            span(style="padding-left:20px;")
              a(href=link)
                i.fa.fa-github  View Source

        .row(id=val)
          .large-12.columns
            +#{val}

      mixin displayCode(number, code, module, special)
        .row
          +num_col(number)
        .row
          .large-12.columns.left
            if (special)
              p!=special
            p <code>#{module}.js</code>という名前のファイルを作成し、以下の内容を書き込んで保存してください。
            pre.prettyprint#exampleCode
              code.
                #{code}
        .row
          .large-12.columns
            .greyBar(style="height:2px;")

      // mixins for within the includes
      mixin num_col(num)
        .large-12.columns
          p.moduleStep 手順#{num}

      mixin normal_row(number, imgsrc, text, d)
        - text = render(text, d)
        .row
          +num_col(number)
        .row
          .large-6.columns
            p !{text}
          .large-6.columns
            .row
              .large-12.columns
                - if (imgsrc instanceof Array) {
                    for src in imgsrc
                      img(src=src).constrain
                - } else {
                    img(src=imgsrc).constrain
                - }


        .row
          .large-12.columns
            .greyBar(style="height:2px;")

      mixin see_video(url)
        .row
          .large-12.columns
            p Follow the directions below or <a href="#{url}"", target=0>view as a video</a>

        .row
          .large-12.columns
            .greyBar(style="height:2px;")

      mixin make_directory(number, thismod, special)
        .row
          +num_col(number)
        .row
          .large-12.columns
            if (special)
              p!=render(special)
            p
              | 以下のコマンドを入力して、「tessel-code」ディレクトリーの中に、もうひとつディレクトリーを作ってください：
              | <code><cli>mkdir #{thismod}</cli></code>
              | いま作ったディレクトリーの中に移ってください。
              | <code><cli>cd #{thismod}</cli></code>
        .row
          .large-12.columns
            .greyBar(style="height:2px;")

      mixin seeForums(number, url, thismod, projects)
        .row
          +num_col(number)
        .row
          .large-12.columns
            p あなたはこの #{thismod} で他に何を行うことができますか <a href="//tessel.io/projects">コミュニティプロジェクトをお試しください</a>
        .row
          each project in projects
            .large-4.columns.left
              .projects-container
                a(href="https://projects.tessel.io/projects/" + project.slug, target=0)
                  .project-image
                    img(src=project.imgUrl)
                  .project-title
                    p #{project.title}
        .row
          .large-12.columns
            p <a href="//projects.tessel.io/projects/new">またはあなた自身を発明し、それを共有！</a>
            p 何か困ったことがあったら、<a href="#{forumUrl}#{url}">#{title}モジュールの掲示板</a>で聞いてみてください。
        .row
          .large-12.columns
            .greyBar(style="height:2px;")


      - var modulesPlugged_filepath = s3url+"modules_plugged/"
      - var moduleCorners_filepath = s3url+"modules_corners/"
      - var moduleGifs_filepath = s3url+"gifs/"
      - var moduleSpecial_filepath = s3url+"modules_special/"
      - var moduleDocs_filepath = "https://github.com/tessel/"

      - render = function(s, d) {
      -   d = d || {};
      -   d['module'] = displayModule;
      -   d['title'] = title;
      -   return s.replace(/(\\)?#\{([-_#.a-zA-Z0-9]+)}/g, function(_, e, key) {
      -     if (e) {
      -       return _;
      -     }
      -     return d[key] || '';
      -   });
      - }

      - var plugIn = "#{title}（#{module}）モジュールをTesselの<b>ポート#{port}</b>に挿しこんでください。このとき、六角形のTesselロゴの面が裏側、電子部品が有る側を表側になるようにしてください。最後に、TesselとパソコンをUSBケーブルで接続してください。"
      - var install = "以下のコマンドを入力して、パッケージをインストールしてください。<code><cli>npm install #{package}</cli></code>"
      - var push = "以下のコマンドを入力してください。<code><cli>tessel run #{module}.js #{option}</cli></code><br/>"
      - var moreInfo = "<br/><br/>#{title}モジュールの機能についてもっと知りたい場合は、<a href=\"#{href}\" target=0>モジュールのドキュメント</a>を参照してください。"

      // include all the modules
      //each val in moduleList
      +modulemodule(displayModule, code.github)

      // workaround mixins for fake dynamic includes
      mixin accelerometer
        include moduleFREs/ja-_accelerometer
      mixin ambient
        include moduleFREs/ja-_ambient
      mixin audio
        include moduleFREs/ja-_audio
      mixin ble
        include moduleFREs/ja-_ble
      mixin camera
        include moduleFREs/ja-_camera
      mixin climate
        include moduleFREs/ja-_climate
      mixin gprs
        include moduleFREs/ja-_gprs
      mixin gps
        include moduleFREs/ja-_gps
      mixin ir
        include moduleFREs/ja-_ir
      mixin microsd
        include moduleFREs/ja-_microsd
      mixin nrf
        include moduleFREs/ja-_nrf
      mixin relay
        include moduleFREs/ja-_relay
      mixin rfid
        include moduleFREs/ja-_rfid
      mixin servo
        include moduleFREs/ja-_servo

      .row
        .large-12.columns
          h2 他のモジュールを試す
          p あるいは、ここを飛ばして<a href="/wifi">無線LAN</a>に進んでください。

      include ja-_modulesList.jade


block bottom_nav
  .row
    .large-6.columns.left
      a.bottomButton(href="/ja/blinky" class="button") 戻る：点滅

    .large-6.columns.right
      a.bottomButton.right(href="/ja/wifi" class="button") 進む：無線LAN
